*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(73, 73, 73);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.sobre{
    width: 40%;
}
.si{
    animation-name: si;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}
.crecer{
    animation-name: crecer;
    animation-duration: 4s;
}
@keyframes si {
    from{
        transform: rotate(1deg);
    }
    to{
        transform: rotate(-1deg);
    }
}
@keyframes crecer {
    0%{
        scale: 1;
    }
    20%{
        scale: 0.4;
    }
    100%{
        scale: 10;
        opacity: 0;
    }
}
.luces{
    border-right: 200vw solid #575757;
    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent; 
    position: absolute;
    left: 50vw;
    animation-name: girar;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: left;
    z-index: -1;
}
@keyframes girar {
    from{
        transform: rotatez(0deg);
    }
    to{
        transform: rotatez(360deg);
    }
}
#rell{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: none;
}
#juan{
    width: 100%;
    height: 100%;
    position: relative;
}
.epico{
    animation-name: epico;
    animation-duration: 2s;

}
@keyframes epico {
    0%{
        width: 100px;
        height: 100px;
        scale: 0;
        top: 0;
        border-radius: 100%;
    }
    30%{
        top: -100px;
    }
    100%{
        scale: 1;
        top: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .luces{
        border-right: 200vw solid #575757;
        border-top: 150px solid transparent;
        border-bottom: 150px solid transparent; 
    }
  }